{% extends "global/pages/base.html" %}

{% block content %}
    <div class="main-dashboard-container">
        <div class="logout-dashboard">
            <p>Você está logado como {{ request.user }} para deslogar <a href="{% url 'authors:logout_author' %}">clique aqui</a></p>
        </div>
        {% for post in posts %}
            <div>
                <div class="dashboard-container">
                    <a href="{% url 'social_echo:edit_post' post.id %}">{{ post.title }}</a>
                    <a class="button button-dashboard" href="{% url 'social_echo:edit_post' post.id %}">Editar</a>
                    <a class="button button-dashboard" href="{% url 'social_echo:delete_post' post.id %}">Deletar</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}