{% extends "global/pages/base.html" %}

{% block content %}
    <div class="dashboard-user-container">
        <div class="dashboard-user">
            {% if cover %}
                <p><img src="{{ cover.url }}" alt="" class="image"></p>
            {% endif %}
            <p>{{ user }}</p>

            <div class="follow_following_dashboard">
                <a href="{% url 'social_echo:list_follows' posts.0.author.id %}">Seguidores: {{ follows }}</a>
                <a href="{% url 'social_echo:list_following' posts.0.author.id %}">Seguindo: {{ following }}</a>
            </div>
            
            {% if request.user.is_authenticated and request.user != user %}
                {% if not user in user_followings %}
                    <a href="{% url 'social_echo:follow_user_system' posts.0.author.id%}" class="follow-btn">Seguir</a>
                {% else %}
                    <a href="{% url 'social_echo:unfollow_user_system' posts.0.author.id%}" class="unfollow-btn">Deixar de seguir</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="main-dashboard-container">
        {% for post in posts %}
            <div>
                <div class="dashboard-container">
                    <div class="dashboard-title">
                        <a href="{% url 'social_echo:edit_post' post.id %}">{{ post.title }}</a>
                    </div>
                    {% if request.user == post.author %}
                        <div class="dashboard-container-button">
                            <a class="button button-dashboard" href="{% url 'social_echo:edit_post' post.id %}">Editar</a>
                            <a class="button button-dashboard" href="{% url 'social_echo:delete_post' post.id %}">Deletar</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
