{% for post in posts %}
    <div class="post-main">
        <div class="post-author">
            {% if post.author_cover %}
                <img src="{{ post.author_cover.cover.url }}" alt="" class="image">
            {% endif %}
            <p class="author-username">{{ post.author.username }}</p>
        </div>
        <div class="post-content">
            <p class="post-title">{{ post.title }}</p>
            <p class="post-message">{{ post.message }}</p>

            <div class="link-img-post">
                {% if post.cover %}
                    <a href="{% url 'social_echo:view_post' post.id %}">Veja a imagem...</a>
                {% endif %}
            </div>
            
            {% if request.user == post.author %}
                <div class="button-container">
                    <a class="button" href="{% url 'social_echo:edit_post' post.id %}">Editar</a>
                    <a class="button" href="{% url 'social_echo:delete_post' post.id %}">Deletar</a>
                </div>
            {% endif %}
        </div>
    </div>
{% endfor %}