{% extends "global/pages/base.html" %}

{% block content %}
    <div class="posts-main">
        <div class="posts-author">
            {% if post.author_cover %}
                <img src="{{ post.author_cover.cover.url }}" alt="" class="image-solo">
            {% endif %}
            <p class="author-username-solo">{{ post.author.username }}</p>
        </div>
        <div class="posts-content">
            <p class="post-title">{{ post.title }}</p>
            <p class="post-message">{{ post.message }}</p>

            <div>
                {% if post.cover %}
                    <img src="{{ post.cover.url }}" alt="" class="img_post">
                {% endif %}
            </div>
            
            {% if request.user == post.author %}
                <div class="button-container">
                    <a class="button" href="{% url 'social_echo:edit_post' post.id %}">Editar</a>
                    <a class="button" href="{% url 'social_echo:delete_post' post.id %}">Deletar</a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}